/* eric meyers reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a { text-decoration: none; color: inherit; }




/* general rules */
body { font-family: 'Times New Roman', Times, serif; background: #fff; }
.container { width: 100%; padding: 0 40px; margin: 0 auto; }


/* sticky footer */
html, body { height: 100%; }
body { display: flex; flex-direction: column; align-items: center; }
footer { margin-top: auto; }


/* header */
header { padding: 20px 0; }

header .top-section { display: flex; justify-content: space-between; align-items: center; padding: 0 0 20px 0;  border-bottom: .5px solid #e4e4e4; }
header .top-section .lt-side { display: flex; }
header .top-section .drop-down { display: none; margin:0 0 0 10px; width:32px; height: 32px; background: url(../pictures/drop-down-arrow.png) center no-repeat; }
header .top-section .subscribe a { font-size: 16px; color:#878e94; font-family: Helvetica, sans-serif; font-weight: 600; cursor: pointer; }
header .logo { font-size: 34px; font-weight: bold; user-select: none; }
header .rt-side { display: flex; align-items: center; }
header .search { width: 20px; height: 30px; background: url(../pictures/search-icon.svg) center no-repeat; margin: 0 20px 0 0; cursor: pointer; }
header .sign-up-button { border: 1px solid #6f777f; border-radius: 5px; padding: 0 5px; background: #fff; cursor: pointer; }
header .sign-up-button a { font-size: 16px; line-height: 28px; color: #6f777f; background: #fff; }

header .nav-list { display: flex; justify-content: space-between; padding: 10px 0 0 0 ; }
header .nav-list li { cursor: pointer; font-family: Helvetica, sans-serif; font-size: 20px; color: #878e94; }

header .nav-list.drop-down { display: block; padding: 10px 0 0 0 ; }
header .nav-list.drop-down li { font-family: Helvetica, sans-serif; font-size: 20px; color: #878e94; text-align: center; cursor: pointer; border-bottom: .5px solid #e4e4e4; padding: 0 0 20px 0; margin-bottom: 20px; }
header .nav-list.drop-down li:first-child { padding-top: 10px; }


/* section 1 */
/* .blog-post-cards > div { border: 1px solid red; } */
.section-1 { margin: 0 0 40px 0; }

.blog-post-cards { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 30px; }
.blog-post-cards .long { grid-column-start: 1; grid-column-end: 3; padding: 65px 625px 65px 55px; background: #343b41; border-radius: 5px; color: #fff; }
.blog-post-cards .long .title { font-size: 40px; font-weight: bold; font-style: italic; margin: 0 0 20px 0; padding: 0 120px 0 0; }
.blog-post-cards .long .summary { font-size: 20px; font-family: Helvetica, sans-serif; margin:0 0 20px 0; }
.blog-post-cards .long .cont-reading a { font-size: 20px; font-family: Helvetica, sans-serif; font-weight: bold; }

.blog-post-cards .short { display: flex; justify-content: space-between; border: 1px solid #e4e4e4; box-shadow: 1px 1px 10px #e4e4e4; border-radius: 5px; }
.blog-post-cards .short .text { padding: 35px; }
.blog-post-cards .short .tag a { font-size: 16px; font-family: Helvetica, sans-serif; font-weight: bold; margin: 0 0 10px 0; }
.blog-post-cards .short .world-tag a { color: #047cfc; }
.blog-post-cards .short .design-tag a { color: #2da546; }
.blog-post-cards .short .title { font-size: 30px; font-weight: bold; padding:  0 0 5px 0;}
.blog-post-cards .short .date { font-size: 16px; font-family: Helvetica, sans-serif; color: #878e94; margin: 0 0 10px 0; }
.blog-post-cards .short .summary { font-size: 16px; font-family: Helvetica, sans-serif; margin: 0 0 10px 0; }
.blog-post-cards .short .cont-reading a { font-size: 16px; font-family: Helvetica, sans-serif; color: #047cfc; }
.blog-post-cards .short .img-wrap { width: 100%; max-width: 225px; background: #55595c; position: relative; }
.blog-post-cards .short .img-wrap .thumbnail { color: #fff; font-size: 16px; font-family: Helvetica, sans-serif; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); user-select: none; }



/* section 2 */
.section-2 { display: flex; margin:0 0 70px 0;}

.section-2 .aside { max-width: 390px; width: 100%; margin: 0 0 0 30px; }
.section-2 .aside .nudge { margin: 0 0 0 20px }
.section-2 .about { background: #f9f8fa; padding: 20px; margin: 0 0 40px 0; }
.section-2 .about .title { font-size: 24px; font-weight: bold; font-style: italic; margin: 0 0 10px 0; }
.section-2 .about .about-text { font-family: Helvetica, sans-serif; font-size: 16px; line-height: 22px; }
.section-2 .archives { margin: 0 0 50px 0; }
.section-2 .archives .title { font-size: 24px; font-weight: bold; font-style: italic; margin: 0 0 10px 0; }
.section-2 .archives li a { font-size: 16px; line-height: 22px; font-family: Helvetica, sans-serif; color: #047cfc; }
.section-2 .elsewhere .title { font-size: 24px; font-weight: bold; font-style: italic; margin: 0 0 10px 0; }
.section-2 .elsewhere a { font-size: 16px; line-height: 22px; font-family: Helvetica, sans-serif; color: #047cfc; }

.section-2 .articles-wrap .section-heading { font-size: 24px; font-weight: bold; font-style: italic; padding: 0 0 20px 0; margin: 0 0 30px 0; border-bottom: .5px solid #e4e4e4; }
.section-2 .articles-wrap .article { margin: 0 0 70px 0; }
.section-2 .article .title { font-size: 40px; line-height: 44px; font-weight: bold; margin: 0 0 10px 0; }
.section-2 .article .attribution { font-size: 16px; font-family: Helvetica, sans-serif; margin: 0 0 20px 0; }
.section-2 .article .attribution .date { color: #878e94; }
.section-2 .article .bold { font-weight: bold; }
.section-2 .article .summary { padding: 0 0 24px 0; border-bottom: 1px solid #e4e4e4; }
.section-2 .article .code-block { display: block; margin: 0 0 20px 0; }
.section-2 .article h1 { font-size: 34px; font-weight: bold; margin: 0 0 20px 0; }
.section-2 .article h2 { font-size: 30px; font-weight: bold; margin: 0 0 20px 0; }
.section-2 .article p { margin: 0 0 20px 0; font-size: 16px; font-family: Helvetica, sans-serif; }
.section-2 .article a { color: #047cfc; }
.section-2 .article code { display: block; font-family: monospace; font-size: 16px;}
.section-2 .article ul, ol { font-family: Helvetica, sans-serif; font-size: 16px; margin: 0 0 20px 0; }
.section-2 .article li { margin: 0 0 10px 0; list-style-position: inside; padding: 0 0 0 25px;}
.section-2 .article ul li { list-style-type: disc; }
.section-2 .article ol li { list-style-type: decimal; }

.section-2 .article-nav button { background: #fff; border-radius: 18px; font-family: Helvetica, sans-serif; font-size: 18px; line-height: 30px;}
.section-2 .article-nav button.older { color: #047cfc; border-color: #047cfc; }
.section-2 .article-nav button.newer { color: #878e94; border-color: #878e94; }


/* footer */
.footer { width: 100%; background: #f9f8f8; }
.footer .content-wrapper { text-align: center; font-family: Helvetica, sans-serif; padding: 50px 20px; }
.footer .content-wrapper .info { color: #989998; font-size: 16px; margin:0 0 20px 0; }
.footer .content-wrapper .back-to-top { font-size: 16px; }
.footer .content-wrapper a { color: #047cfc; }



/* media queries */
@media only screen and (max-width: 1240px) {
    .container { padding: 0 20px; }

    /* header */
    .header .top-section .subscribe { display: none; }
    .header .top-section .drop-down { display: block; }
    .header .top-section .search { display: none; }
    .header .top-section .sign-up-button a { font-size: 12px; }
    .header .nav-list { display: none; }

    /* section 1 */
    .blog-post-cards { display: flex; flex-direction: column; }
    .blog-post-cards .long { padding: 40px }
    .blog-post-cards .long .title { padding: 0;}

    .blog-post-cards .short .text { padding: 20px; }

    /* section 2 */
    .section-2 .aside { display: none; }

}

@media only screen and (max-width: 400px) {
    /* header */
    .header .top-section { flex-direction: row-reverse; }
    .header .top-section .rt-side { display: none; }

    /* section 1*/
    .blog-post-cards .long { padding: 20px }
    .blog-post-cards .short .img-wrap { display: none; }

    /* footer */
    .footer .content-wrapper { padding: 30px 10px; } 
    .footer .content-wrapper .info { font-size: 12px; margin:0 0 15px 0; }
    .footer .content-wrapper .back-to-top { font-size: 12px; }
    

}


/* debug styles */
.red-border {border:1px solid red;}
.d-none {display: none;}
